<p-dialog header="Add new task" [visible]="visible" [modal]="true" [closable]="false" [style]="{ width: '400px' }">
  <form [formGroup]="form" (ngSubmit)="submit()">
    <p-fluid>
      <div class="mb-3">
        <label for="taskTitle" class="form-label">Task title:</label>
        <input id="taskTitle" type="text" pInputText formControlName="title" class="form-control" />
      </div>
    </p-fluid>
    <div class="hstack gap-2 justify-content-end mt-4">
      <p-button label="Cancel" class="p-button-text" (click)="cancel()" severity="secondary" />
      <p-button type="submit" class="p-button-text" label="Save" [disabled]="form.invalid" severity="success" />
    </div>
  </form>
</p-dialog>
