<p-toolbar class="mb-2"><p-button icon="pi pi-plus" class="pb-2" label="Add new task" (click)="addTask()" /></p-toolbar>
@if (taskDialogVisible()){
<app-add-task-dialog (submitted)="handleResult($event)" (cancelled)="handleCancel()"> </app-add-task-dialog>}
<ng-container>
  @let items = tasks(); @if (items !== undefined && items.length > 0) {
  <p-table [value]="items" [tableStyle]="{ 'min-width': '50rem' }">
    <ng-template #header>
      <tr>
        <th>Id</th>
        <th>Title</th>
        <th>Completed</th>
        <th></th>
      </tr>
    </ng-template>
    <ng-template #body let-task>
      <tr>
        <td>{{ task.id }}</td>
        <td>{{ task.title }}</td>
        <td>{{ task.completed }}</td>
        <td>
          <p-button icon="pi pi-trash" (click)="deleteTask(task)" severity="danger" label="Remove" />
        </td>
      </tr>
    </ng-template>
  </p-table>
  } @else { No tasks }
</ng-container>
